{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "android": 31,
          "chrome": 31,
          "edge": 12,
          "ie": 11,
          "firefox": 42,
          "safari": 8,
          "ios": 9
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}