{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "debug": false,
        "bugfixes": true,
        "useBuiltIns": "usage",
        "corejs": "3.26"
      }
    ]
  ]
}