@charset 'utf-8';

@import url('https://rsms.me/inter/inter.css');
html, body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html, body { font-family: 'Inter var', sans-serif; }
}

.rmp-container {
  width: 960px;
  height: 540px;
  margin: auto;
}

#controls button,
#controls input {
  margin: 0 5px 5px;
}

#event-logs {
  max-height: 600px;
  overflow: auto;
}
